*{
  font-family: "Poppins", sans-serif;
}

body {
  margin:0;
  background-color: #dfdfdf;
  position: relative;
}






ul.naveg {
  list-style-type: none;
  margin-top: 0;
  padding: 0px;
  background-color: #10004f;
  width: 100%;
  font-weight: bold;
  height: 100px;
  margin-bottom: 0;
}

ul.naveg li.logcir {
  float: left;
  margin: 1px;
  margin-left: 3%;
}

.logcir.textalter {
  display: none;
  padding-top: 10px;
}

ul.naveg li {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  left:-30px
  
}


ul.naveg li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.3s ease;

}

ul.naveg li .df {
  overflow: visible;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}





/*----------------------Menu desplegable--------------------------------*/

ul.naveg li.robb .dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;

}

ul.naveg li.robb .dropdown {
  position: relative;
  display: inline-block;
}

ul.naveg li.robb .dropdown-content {
  color: rgb(47, 66, 241);
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(92, 80, 80);
  z-index: 1;
  left: -50px

}

ul.naveg li.robb .dropdown-content a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  background-color: #ccc;
}

ul.naveg li.robb .dropdown-content a:hover {
  background-color: #a89999
  

}

ul.naveg li.robb  div.dropdown:hover div.dropdown-content {
  display: block;
  background-color: #201f1f;
  color: rgb(0, 0, 0);
}

.naveg .df {
  overflow: visible;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  padding: 8px ;
  margin-top: 15px;
} 

.naveg .df:hover {
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;

}

ul.naveg li.robb .dropdown .dropbtn {
  overflow: visible;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  padding: 5.5px ;
  margin-top: 15px;
}

ul.naveg li.robb .dropdown:hover .dropbtn {
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;

}

.dropdown2 {
  height: 50px;
  

}

.sila {
  display: inline-block; 
  width: 1em;
  height: auto;
  transform: rotate(-90deg);
}




.banderedo {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-top: 5px;
}

.repobande {
  display: none;
  background-color: rgb(211, 210, 210);
  right: 1%;
  position: absolute;
  top: 70px;
}
.repobande a {
  color: black !important;
}

.repobande a:hover {
  background-color: rgb(139, 139, 139) !important;
}

.dropdown2:hover .repobande{
  display: block;
  background-color: rgb(206, 206, 206);
}



@media screen and (max-width:600px){
  .naveg  .soporte, .naveg  .registrar, .naveg .active {
    display: none;
  }
  .logcir {
    display: none;
  }

  .logcir.textalter {
    display: block;
    color: rgb(58, 140, 218);
    margin-left: 0;
  }
  .dropbtn {
    text-transform: uppercase;
  }
}

@media screen and (max-width:378px){

  .logcir.textalter {
    display: none;
  }
}

.bandera {
  float: right;
  float: none;
  margin-right: 80px;
}






/* Create three unequal columns that floats next to each other */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.column {
  float: left;
  padding: 10px;
}
.column.side .pricol {
  background-color:#fff;
  height: 800px;
}

ul.depart {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#fff;
  
}
ul.depart li {
  border-bottom: 2px solid #293026;
  z-index: -1;
}

ul.depart li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
ul.depart li a:hover {
  background-color: #555;
  color: white;
}

/* Left and right column */
.column.side {
  width: 25%;
}

.column.side .izqui {
  background-color: #fff;
  height: 760px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  
}

div.galle {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  text-align: center;
  overflow: hidden;
}

.column.side .izqui .galle .galle1 {
  overflow: hidden;
}

.column.side .izqui .galle .galle1 img{
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
  display: block;
  margin-bottom: 5px;

}

.column.side .izqui .galle .galle1 img:hover {
  transform: scale(1.1);
}

@media screen and (max-width:960px) {
  .column.side .izqui img {
    height: 300px;

  }
  
}
/* Middle column */
.column.middle {
  width: 40%;
  
}

.column.middle div h3 {
  scroll-margin-top: 10%;
}

.column.middle .listg ul {
  padding-inline-start: 0;
  padding-left: 0;
}

.column.middle .listg {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0 ; 
  text-align: center;
  height: 800px;
  overflow: auto;
  scrollbar-color: #14141d #f0e9f8;
  scrollbar-width: thin;
}
.column.middle .listg li{
  background-color: #fff;
  list-style-type: none;
  padding: 15px 0;
  text-align: center;
  display: block;
  width: 80%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 1px 1px 5px;

}

.column.middle .listg div ul li a{
  text-decoration: none;
  display: block;
}

#fisic {
  text-align: center;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 50%;
  }
  .column.side .pricol {
    display: none;
  }
  .row .column .ubcid {
    display: none;
  }

}

@media screen and (max-width: 960px) {
  .column.side, .column.middle {
    width: 90%;
  }


}


/* Style the footer */
.piecera1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  
}

.piecera1 .foo1 {
width: 250px;
float: left;
background-color: #f1f1f1;
margin-left: 10%;
margin-bottom: 10px;
}

.piecera1 .foo1 .social1 {
float: left;
margin-right: 10px;

}


.piecera1 .iconow1{
width: 30px;
height: 30px;

}

/* Estilos para el avión en movimiento*/
.avion {
  margin-top: 2vh;
  position: fixed;
  z-index: 10;
  bottom: 50vh;
}

.imageavion {
  width: 200px;
}

#animate {
  width: 50px;
  height: 50px;
  position: fixed;
  margin-bottom: 17vh;
  bottom: 0;
  left: 1.5vw;
}